## Задача

Проанализируй активность последних постов в своем сообществе {{ communityDomain }} (лайки, репосты, комментарии) и реши, подходящий ли сейчас момент для публикации нового контента.

**Критерии для принятия решения:**

- Если последний пост получил хорошую активность (много лайков/комментариев), возможно стоит подождать
- Если прошло достаточно времени с последней публикации, можно публиковать
- Если последние посты имеют низкую активность, возможно аудитория не готова к новому контенту

## Важные условия задачи

Ты должен как можно быстрее и эффективнее принять решение, используя наименьшее количество инструментов

## Время на данный момент

{{ nowDateString }}
